__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.ipynb
# outputs
outputs/
*.png
*.json
# *.sh
# env
.env
.venv/
env/
*.yml
out_gpt2/
out_llama3/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store
